:root[data-theme='light'] {
  background-color: #eff1f5;
  --bg-color: #eff1f5 !important;
  --bs-secondary-rgb: #eff1f5 !important;

 /* Catppuccin Colors */
  --cat-red-light: #ed1140;
  --cat-red: #d20f39;
  --cat-red-dark: #bd0e33;
  --cat-orange-light: #fe7323;
  --cat-orange: #fe640b;
  --cat-orange-dark: #ed5801;
  --cat-yellow-light: #e49a32;
  --cat-yellow: #df8e1d;
  --cat-yellow-dark: #c9801a;
  --cat-green-light: #4ab832;
  --cat-green: #40a02b;
  --cat-green-dark: #3a9027;
  --cat-blue-light: #3475f6;
  --cat-blue: #1e66f5;
  --cat-blue-dark: #0b56ed;
  --cat-text-dark: #c6d0f5;
  --cat-text-med: #6e738d;
  --cat-text-light: #181926;
  --cat-surface: #e6e9ef;
  --cat-base: #eff1f5;
  --cat-crust: #dce0e8;
  --cat-golang-dark:  #29BEB0;
}
:root[data-theme='dark'] {
  background-color: #24273a;
  --bg-color:  36, 39, 58 !important;
  --bs-secondary-rgb: 36, 39, 58 !important;
  --bs-bg-opacity: 0;
 /* Catppuccin Colors */
  --cat-red-light: #ef93a0;
  --cat-red: #ed8796;
  --cat-red-dark: #e8677a;
  --cat-orange-light: #f6b28c;
  --cat-orange: #f5a97f;
  --cat-orange-dark: #f2925c;
  --cat-yellow-light: #f0d8a9;
  --cat-yellow: #eed49f;
  --cat-yellow-dark: #e8c57d;
  --cat-green-light: #afdea0;
  --cat-green: #a6da95;
  --cat-green-dark: #8fd07a;
  --cat-blue-light: #96b5f5;
  --cat-blue: #8aadf4;
  --cat-blue-dark: #6795f1;
  --cat-text-light: #c6d0f5;
  --cat-text-med: #6e738d;
  --cat-text-dark: #181926;
  --cat-surface: #494d64;
  --cat-base: #24273a;
  --cat-crust: #181926;
  --cat-golang-dark:  #29BEB0;
}

/* Button Colors */
.btn-outline-light {
  --bs-btn-color: var(--cat-text-light) !important;
  --bs-btn-border-color: var(--cat-text-light) !important;
  --bs-btn-hover-color: var(--cat-base) !important;
  --bs-btn-hover-bg: var(--cat-text-light) !important;
  --bs-btn-hover-border-color: var(--cat-text-light) !important;
  --bs-btn-active-color: var(--cat-base) !important;
  --bs-btn-active-bg: var(--cat-text-light) !important;
  --bs-btn-active-border-color: var(--cat-text-light) !important;
  --bs-btn-disabled-color: var(--cat-text-light) !important;
  --bs-btn-disabled-border-color: var(--cat-text-light) !important;
}
.btn-primary {
  --bs-btn-bg: var(--cat-blue) !important;
  --bs-btn-border-color: var(--cat-blue) !important;
  --bs-btn-hover-bg: var(--cat-blue-dark) !important;
  --bs-btn-hover-border-color: var(--cat-blue-dark) !important;
  --bs-btn-active-bg: var(--cat-blue-dark) !important;
  --bs-btn-active-border-color: var(--cat-blue-dark) !important;
  --bs-btn-disabled-bg: var(--cat-blue) !important;
  --bs-btn-disabled-border-color: var(--cat-blue) !important;
}
.btn-success {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: var(--cat-green) !important;
  --bs-btn-border-color: var(--cat-green) !important;
  --bs-btn-hover-color: #000 !important;
  --bs-btn-hover-bg: var(--cat-green-dark) !important;
  --bs-btn-hover-border-color: var(--cat-green-dark) !important;
  --bs-btn-active-color: #000 !important;
  --bs-btn-active-bg: var(--cat-green-dark) !important;
  --bs-btn-active-border-color: var(--cat-green-dark) !important;
  --bs-btn-disabled-color: #000 !important;
  --bs-btn-disabled-bg: var(--cat-green) !important;
  --bs-btn-disabled-border-color: var(--cat-green) !important;
}
.btn-danger {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: var(--cat-red) !important;
  --bs-btn-border-color: var(--cat-red) !important;
  --bs-btn-hover-color: #000 !important;
  --bs-btn-hover-bg: var(--cat-red-dark) !important;
  --bs-btn-hover-border-color: var(--cat-red-dark) !important;
  --bs-btn-active-color: #000 !important;
  --bs-btn-active-bg: var(--cat-red-dark) !important;
  --bs-btn-active-border-color: var(--cat-red-dark) !important;
  --bs-btn-disabled-color: #000 !important;
  --bs-btn-disabled-bg: var(--cat-red) !important;
  --bs-btn-disabled-border-color: var(--cat-red) !important;
}
.btn-warning {
  --bs-btn-bg: var(--cat-yellow) !important;
  --bs-btn-border-color: var(--cat-yellow) !important;
  --bs-btn-hover-bg: var(--cat-yellow-dark) !important;
  --bs-btn-hover-border-color: var(--cat-yellow-dark) !important;
  --bs-btn-active-bg: var(--cat-yellow-dark) !important;
  --bs-btn-active-border-color: var(--cat-yellow-dark) !important;
  --bs-btn-disabled-bg: var(--cat-yellow) !important;
  --bs-btn-disabled-border-color: var(--cat-yellow) !important;
}

/* Text Colors */
.cat-text-light {
  color: var(--cat-text-light) !important;
}
.cat-text-dark {
  color: var(--cat-text-dark) !important;
}
.cat-text-muted {
  color: var(--cat-text-med) !important;
}
.cat-text-primary {
  color: var(--cat-blue-dark) !important;
}
.cat-text-danger {
  color: var(--cat-red-dark) !important;
}

/* Background Colors */
.cat-bg-light {
  background-color: var(--cat-surface) !important;
}
.cat-bg-dark {
  background-color: var(--cat-crust) !important;
}
.cat-bg-med {
  background-color: var(--cat-base) !important;
}

/* Border colors */
.cat-border-light {
  border-color: var(--cat-text-light) !important;
}
.cat-border-dark {
  border-color: var(--cat-crust) !important;
}



.bg-dark .navbar-dark .btn-outline-dark {
  background-color: var(--cat-base);
}

.kanvaswire-card .card-body{
  background-color: #51576d;
  color:  #d1e3ff;
  cursor: pointer;
}

.kanvaswire-card .card-body:hover{
  background-color: #626880;
}

.kanvaswire-card img{
  cursor: pointer;
}

.kanvaswire-card p{
  margin-top: 1em;
}

.pn-card-group-type
{
  color: #1e2030;
  left: 1.5em;
  padding: 0.3em 1em;
  width: 4em;
  font-size: 15px;
  z-index: 2;
  margin-right: 0.4em;
  border-radius: 9px;
}
.pn-card-type-red
{
  color: var(--cat-text-crust);
  background: var(--cat-red-dark);
}
.pn-card-type-yellow
{
  color: var(--cat-text-crust);
  background: var(--cat-yellow-dark);
}
.pn-card-type-blue
{
  color: var(--cat-text-crust);
  background: var(--cat-blue-dark);
}
.pn-card-type-light-sea-green{
  color: var(--cat-text-crust);
  background: var(--cat-golang-dark);
}

.kanvaswire-card .text-danger{
  color: var(--cat-red);
}

.kanvaswire-card .text-primary{
  color: var(--cat-blue);
}

.navbar img, .feed-post img, .tech-stacks img{
  width:2em;
}

.account-info img{
  width: 13em;
}

.list-group-item {
  border-color: var(--cat-text-light) !important;
}
