<div class="col">
  <div class="card shadow">
    <img alt="project image" class="card-img-top max-h-50" src="../public/project_dummy_image.png">
    <div class="card-body p-2 border-1 rounded-bottom">
      <div class="d-flex justify-content-between">
        <h6 class="card-title">Project 1</h6>
        <div>
          <a class="btn cat-text-primary px-1" href="?=canvas"><i class="fas fa-pen fs-4"></i></a>
          <a href="#" class="btn cat-text-danger px-1" data-bs-toggle="modal" data-bs-target="#deleteProject"><i
              class="fas fa-trash-can fs-4"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
