<div class="modal fade" id="modalLoginForm" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content cat-bg-light cat-text-light">
      <div class="modal-body">
        <div class="text-end">
          <a data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-xmark fs-5"></i></a>
        </div>
        <div class="d-flex flex-column col-10 mx-auto">
          <h1 class="display-5 text-center pb-1">Login Form</h1>
          <div>
            <div class="mb-3 mt-4">
              <label class="form-label">Username</label>
              <input id="loginName" type="" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input id="loginPass" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="d-flex flex-column text-center pt-4 col-8 mx-auto">
              <button id="loginSubmit" type="submit" class="btn btn-primary py-2">LOGIN</button>
              <p class="pt-3">Not a member? <a href="#">Signup now</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="changePassword" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content cat-bg-light cat-text-light">
      <div class="modal-body">
        <div class="text-end">
          <a data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-xmark fs-5"></i></a>
        </div>
        <div class="d-flex flex-column col-10 mx-auto">
          <h3 class="text-center pb-1">Change Password</h3>
          <div>
            <div class="mb-3 mt-4">
              <label for="exampleInputEmail3" class="form-label">New Password</label>
              <input type="password" class="form-control" id="">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="">
            </div>
            <div class="d-flex flex-column text-center pt-4 col-8 mx-auto">
              <button type="submit" class="btn btn-warning py-2">Change Password</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteAccount" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content cat-bg-light cat-text-light">
      <div class="modal-body">
        <div class="text-end">
          <a data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-xmark fs-5"></i></a>
        </div>
        <div class="d-flex flex-column col-10 mx-auto">
          <h3 class="text-center pb-1">Delete Account</h3>
          <form>
            <div class="mb-3 mt-4">
              <label for="" class="form-label">Password</label>
              <input type="password" class="form-control" id="">
            </div>
            <div class="d-flex flex-column text-center pt-4 col-6 mx-auto">
              <button type="submit" class="btn btn-danger py-2">Are you sure????</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteProject" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content cat-bg-light cat-text-light">
      <div class="modal-body">
        <div class="text-end">
          <a data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-xmark fs-5"></i></a>
        </div>
        <div class="d-flex flex-column col-10 mx-auto">
          <h3 class="text-center pb-1">Delete Project</h3>
          <form>
            <div class="mb-3 mt-4">
              <label for="" class="form-label">Password</label>
              <input type="password" class="form-control" id="">
            </div>
            <div class="d-flex flex-column text-center pt-4 col-6 mx-auto">
              <button id="deletePost" type="submit" class="btn btn-danger py-2">Are you sure????</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../scripts/modals.js"></script>
