<div class="d-flex flex-column cat-bg-light cat-text-light my-3 rounded-3 feed-post feed-posts-container">
  <div class="px-3 pt-3 post-user-container"><img src=${avatar} class="rounded-circle">
    <span class="ms-2"><a id=${userID} class="cat-text-light text-decoration-none">${username}</a></span>
  </div>
  <div class="px-3"><a id=${titleID} class="fs-4 fw-bold m-0 cat-text-light text-decoration-none">${title}</a>
    <div class="tags tag-container">
      <!-- <div class="badge me-2 pn-card-type-red">Java</div> -->
    </div>
    <div id=${contentID} class="pb-4">${content}</div>
    <div class="post-icons-container">
      <div id=${commentID}><i class="fa-regular fa-comment"></i><span>${comments}</span></div>
      <div id=${likeID}><i class="fa-regular fa-heart"></i><span>${likes}</span></div>
      <div id=${canvasID}><i class="fa-regular fa-pen-to-square"></i><span>Kanvas</span></div>
    </div>
  </div>
</div>
