<div class="card rounded-3 shadow p-3 cat-bg-light cat-text-light">
  <div class="card-title">
    <div class="d-flex flex-column">
      <div class="py-1">
        <i class="fas fa-seedling fa-xl"></i>
      </div>
      <h6 class="d-inline-block fw-bold">
        Newest Project of the day
      </h6>
      <a href=${link}>${title}</a>
    </div>
    <br>
    <div class="d-flex flex-column">
      <div class="py-1">
        <i class="fas fa-cubes fa-xl"></i>
      </div>
      <h6 class="d-inline-block fw-bold">
        Top 3 projects
      </h6>
      <a href=${link1}>${title1}</a>
      <br>
      <a href=${link2}>${title2}</a>
      <br>
      <a href=${link3}>${title3}</a>
    </div>
  </div>
</div>
