<div>
  <div id="author">
    <img id="avatar" src=${avatar} alt="Logo" class="rounded-circle">
    <span class="ms-2"><a id="username" class="cat-text-light text-decoration-none">${username}</a></span>
  </div>
  <div>
    <h5 id="title" class="fw-bold fs-3">${title}</h5>
    <div class="tags pb-2">
      <!-- <div class="badge me-2 pn-card-type-red">Java</div> -->
    </div>
    <div class="d-flex py-1">
      <!-- <div class="badge pn-card-type-blue me-2">React</div> -->
      <!-- <div class="badge pn-card-type-yellow me-2">Python</div> -->
      <!-- <div class="badge pn-card-type-blue me-2"> -->
      <!--   Enterprise -->
      <!-- </div> -->
      <!-- <div class="badge pn-card-type-blue me-2">AI/ML</div> -->
      <!-- <div class="badge pn-card-type-red me-2">SAAS</div> -->
    </div>
    <div class="pt-2">
      <p id="projectContent" class="">${content}</p>
    </div>
    <div class="d-flex justify-content-between">
      <p id="likes" class="cat-text-light"><i class="fa-regular fa-heart fa-xl pt-3 pe-1"></i> ${likes} likes</p>
      <div id="whiteboardContainer">
        <button id="whiteboard" type="button" class="btn btn-primary">
          Whiteboard
        </button>
      </div>
    </div>
  </div>
</div>
