<div class="card rounded-3 shadow p-3 sidebar tech-stacks cat-bg-light cat-text-light">
  <div class="card-title fw-bold">Popular Tech Stacks</div>
  <div class="card-title btn-group-vertical">
    <table>
      <tr>
        <td><i class="fa-brands fa-react fa-xl cat-text-light" title="React"></i></td>
        <td>${react} React</td>
      </tr>
      <tr>
        <td><i class="fa-brands fa-js fa-xl cat-text-light" title="JS"></i></td>
        <td>${js} JS</td>
      </tr>
      <tr>
        <td><i class="fa-brands fa-python fa-xl cat-text-light" title="Python"></i></td>
        <td>${python} Python</td>
      </tr>
      <tr>
        <td><i class="fa-brands fa-golang fa-xl cat-text-light" title="Go"></i></td>
        <td>${go} Go</td>
      </tr>
      <tr>
        <td><i class="fas fa-database fa-xl cat-text-light" title="SQL"></i></td>
        <td>${sql} SQL</td>
      </tr>
    </table>
  </div>
</div>
