<nav class="navbar navbar-expand-sm cat-bg-dark">
  <div class="container-fluid justify-content-around">
    <a class="navbar-brand cat-text-light" href="/">
      <img src="../assets/logo.svg" alt="Logo" class="rounded-circle">
      <span class="ps-3">KanvasWire</span>
    </a>
    <div id="topSearch" class="ms-auto ps-5">
    </div>
    <ul class="navbar-nav ms-auto pe-2">
      <li class="nav-item">
        <a class="nav-link cat-text-light" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cat-text-light" href="../feed">Feed</a>
      </li>
      <li id="nav-acc" class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link cat-text-light" id="theme-toggle"><i class="fas fa-circle-half-stroke fs-5"></i></a>
      </li>
    </ul>
    <form id="loginDiv" class="d-flex">
    </form>
    <form id="logoutDiv" class="d-flex">
    </form>
  </div>
</nav>
